@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.light-blue-gradient {
  background: linear-gradient(to bottom, #ffffff 0%, #f6f9fc 15%);
}

.light-blue {
  background: #f6f9fc;
}

.right-angle-element {
  width: 100%;
  height: 40%;
  background: #ffffff;
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  // Clip paths
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.right-angle-element-reverse {
  @extend .right-angle-element;

  // Clip paths
  transform: scaleY(-1);
}

.progress-grid {
  $circumference: 3.142 * 60 * 2;

  .percent {
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 100%;
    background-color: #fff;
    z-index: 1;

    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 14px;
      left: -5px;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      p {
        color: #ffbb38;
        font-size: 1.75rem;
        transition: 0.5s ease;
      }
    }

    svg {
      position: relative;
      width: 140px;
      height: 140px;
      transform: rotate(-85deg);
      margin-left: auto;
      margin-right: auto;

      circle {
        fill: none;
        stroke: #ffbb38;
        stroke-width: 8;
        stroke-linecap: round;
        transform: translate(5px, 5px);
        stroke-dasharray: $circumference $circumference;

        // &:nth-child(2) {
        //   // stroke-dasharray: 440;
        //   stroke-dashoffset: 440;
        // }
      }
    }

    &:nth-child(1) {
      svg {
        circle {
          stroke-dashoffset: calc(
            $circumference - ((90 / 100) * $circumference)
          );
        }
      }
    }
    &:nth-child(2) {
      svg {
        circle {
          stroke-dashoffset: calc(
            $circumference - ((75 / 100) * $circumference)
          );
        }
      }
    }
    &:nth-child(3) {
      svg {
        circle {
          stroke-dashoffset: calc(
            $circumference - ((93 / 100) * $circumference)
          );
        }
      }
    }
  }
}

.service-gradient {
  position: absolute;
  width: 3px;
  height: 56px;
  background: linear-gradient(
    180deg,
    #f64e1f 0%,
    #60a297 29.46%,
    #03a5f0 63.39%,
    #feb906 96.35%
  );
  border-radius: 10px;
}
